@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-family: 'Montserrat', sans-serif;

  background: white;
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 150px;
}

/*! ==================== NAV BAR CSS */
.navbar {
  font-family: 'Montserrat',
    sans-serif;
  background: teal;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.homebutton {
  display: block;
}

.registerNavButton {
  display: block;
}

.loginNavButton {
  display: block;
}

.logoutbutton {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  grid-column-start: 4;
}

.contactbutton {
  display: block;
}

.userbutton {
  display: block;
}

.hostbutton {
  display: block;
}

.adminbutton {
  display: block;
  grid-column-start: 3;

}

.contactForm {
  background: cadetblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 40%;
  margin: 2em auto;
  padding: 1em 2em;
  border-radius: 15px;
}

.contactForm input {
  margin-bottom: 15px;
  width: 70%;
  align-self: flex-start;
  border-radius: 5px;
}

#subject {
  width: 100%;
  align-self: flex-start;
}

#message {
  width: 100%;
  height: 200px;
  align-self: flex-start;
}

.contactForm button {
  margin-top: 1em;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

@media only screen and (max-width: 1000px) {
  .contactForm {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .contactForm {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .contactForm {
    width: 90%;
  }

  .contactForm input {
    margin-bottom: 15px;
    width: 90%;
    align-self: flex-start;
    border-radius: 5px;
  }

  #subject {
    width: 100%;
    align-self: flex-start;
  }

  #message {
    width: 100%;
    height: 200px;
    align-self: flex-start;
  }
}

/*! ==================== HOME PAGE / SEARCH BAR CSS  */
.homeTitle {
  margin-top: 1em;
  text-align: center;
  color: teal;
  background-color: white;
}

.searchcontainer {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.homeSearch {
  background: cadetblue;
  border: 1px solid cadetblue;
  border-radius: 24px;
  border: 3px solid deepskyblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.2);
}

.switchesGroup {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.searchSwitches {
  padding: 1em 1em 0 0;
}

.searchRight {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchFilters {
  background: white;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  margin: 0;
}

.searchButton {
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.splash {
  text-align: center;
  margin: 0.5em auto;
  width: 800px;
  height: 50vh;
  background-image: url('https://nouba.com.au/wp-content/uploads/2015/11/Laurens-Hall-industrial-wedding-venue-Melbourne2-2800x1540-c-center.jpg');
  background-position: center;
  background-size: 800px;
  border-radius: 25px;
  border: 3px solid deepskyblue;
  background-repeat: no-repeat;
}


/*! ROUNDED SLIDERS FOR TYPE OF EVENT  */
/*! ROUNDED SLIDERS FOR TYPE OF EVENT  */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/** Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/** The slider circle inside */
input:checked+.slider {
  background-color: rgb(61, 255, 181);
  box-shadow: inset 2px -7px 11px rgb(49, 180, 153);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(147, 224, 255);
}

input:checked+.slider:before {
  -webkit-trans-: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/** Rounded sliders */
.slider.round {
  background-color: rgb(0, 92, 92);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: none;
  border-radius: 24px;
  box-shadow: inset 2px -7px 11px rgba(0, 180, 230, 0.40);
}

.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/*! ROUNDED SLIDERS FOR TYPE OF EVENT  */
/*! ROUNDED SLIDERS FOR TYPE OF EVENT  */



/** MEDIA QUERIES FOR HOME PAGE  */
@media only screen and (max-width: 800px) {

  .homeSearch {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1em
  }

  .switchesGroup {
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
  }

  .searchRight {
    width: 80%;
    margin-bottom: 20px;
  }

  .splash {
    width: 90%;
    height: 30vh;
  }
}

@media only screen and (max-width: 560px) {

  .splash {
    width: 90%;
    height: 30vh;
  }
}

@media only screen and (max-width: 400px) {

  .homeTitle h1 {
    font-size: 24px;
  }

  .homeTitle h3 {
    font-size: 18px;
  }

  .switchesGroup {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .searchRight {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .splash {
    width: 90%;
    height: 30vh;
  }
}


/*? ===================== REGISTER AND LOGIN PAGES CSS  */
.form_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background: cadetblue;
  width: 40%;
  margin: 2em auto;
  padding: 1em 1em;
  border-radius: 10px;
}

.form_container label {
  margin-top: 1em;
  margin-bottom: 0;
}

.form_container input {
  width: 200px;
}

.form_container button {
  margin-top: 1em;
}

#hostlabel {
  margin: 0
}

.hostCheckbox {
  display: flex;
  background: teal;
  width: 200px;
  height: 30px;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: inset 2px -7px 11px rgba(0, 190, 190, 0.30);
}

#hostinput {
  display: flex;
  width: max-content;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.loginbutton {
  margin-top: 1em;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.registerbutton {
  margin-top: 1em;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}


@media only screen and (max-width: 800px) {

  .form_container {
    width: 60%;
  }

}

@media only screen and (max-width: 560px) {

  .form_container {
    width: 80%;
  }

}

/*! ============= HOST PORTAL >> SPACE CREATION/UPDATE CSS */
.moreInfo {
  height: 30px;
  font-size: 12px;
  margin: 0 25px 0 25px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.hostActionButtons {
  display: flex;
  width: 90%;
  margin: 0;
}

#hostportal {
  margin-left: 15px;
}

.hostActionButtons button {
  height: 40px;
  margin: 0 25px 0 25px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.backButton {
  height: 40px;
  margin: 0 25px 0 25px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.backButtonSpaceImages {
  height: 40px;
  margin: 10px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.spaceDescription {
  width: 300px;
  height: 150px;
}

.spaceCreateTitle {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.spaceCreateForm {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding-left: 1em;
  background: cadetblue;
  align-items: center;
  margin: 1em 0 0 3em;
  padding: 1em 2em;
  border-radius: 15px;
}

.spaceformleft label {
  margin: 10px 0 0 0;
}

.spaceformleft {
  display: flex;
  flex-flow: column;
  align-self: flex-start;
  width: 100%;
}

.spaceformleft input {
  width: 60%
}

.spaceCreateCheckbox {
  display: flex;
  background: teal;
  width: 200px;
  height: 30px;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 2px -7px 11px rgba(0, 190, 190, 0.30);
}

.spaceCreateCheckbox-Checked {
  display: flex;
  background: rgb(61, 255, 181);
  width: 200px;
  height: 30px;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 2px -7px 11px rgba(0, 255, 255, 0.30);
}

.spaceCreateForm button {
  background: teal;
  color: white;
  display: flex;
  width: 100px;
  height: 30px;
  margin: 15px 0 15px 0;
  margin-top: 1em;
  margin: auto;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}


.spaceformright {
  display: flex;
  flex-flow: column;
  align-self: normal;
  align-items: center;
  width: 100%;
}

.spaceformright input {
  margin-left: 10px;
  margin-right: auto;
}

.eventCreateType label {
  margin-left: 10px;
}

.spaceformright p {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .spaceCreateForm {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    background: cadetblue;
    align-items: center;
    padding: 1em 2em;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .spaceCreateForm {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    background: cadetblue;
    align-items: center;
    padding: 1em 2em;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .spaceCreateForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    background: cadetblue;
    align-items: center;
    margin: 1em 0 0 1em;
    padding: 1em 2em;
    border-radius: 15px;
  }

  .spaceformleft input {
    width: 80%
  }

  .spaceDescription {
    width: 80%;
    height: 100px;
  }

  .spaceformright {
    margin-top: 2em;
  }
}


/* ! ==============UPDATE SPACE FORM================ */
.updateSpaceTitle {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.updateSpaceForm {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding-left: 1em;
  background: cadetblue;
  align-items: center;
  margin: 0 0 0 3em;
  padding: 1em 2em;
  border-radius: 15px;
}

.updateSpaceCheckbox {
  display: flex;
  background: teal;
  width: 200px;
  height: 30px;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 2px -7px 11px rgba(0, 190, 190, 0.30);
}

.updateSpaceFormLeft {
  display: flex;
  flex-flow: column;
  align-self: flex-start;
  width: 100%;
}

.updateSpaceFormLeft input {
  width: 100%;
}

.updateSpaceFormLeft label {
  margin: 10px 0 0 0
}


.updateSpaceFormRight {
  display: flex;
  flex-flow: column;
  align-self: flex-start;
  width: 100%;
}

.updateSpaceFormSubmit {
  background: teal;
  color: white;
  display: flex;
  width: 100px;
  height: 30px;
  margin: 15px 0 15px 0;
  margin-top: 1em;
  margin: auto;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

@media only screen and (max-width: 900px) {

  .updateSpaceForm {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding-left: 1em;
    background: cadetblue;
    align-items: center;
    margin: 0 0 0 3em;
    padding: 1em 2em;
    border-radius: 15px;
  }

  .updateSpaceFormLeft input {
    width: 100%;
  }

  .spaceDescription {
    width: 100%;
  }


}


/* ! ==============CSS FOR DISPLAYING SPACES IN ================ */
/* ! ===========SEARCHES, MORE INFO, AND HOST PORTAL============ */


.hostSpaces {
  display: grid;
  /* flex-flow: column; */
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.hostSpaceContainer {
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 15px;
  width: 90%;
  padding: 1em;
  height: 95%;
  margin: 1em;
  justify-content: left;
  background: cadetblue;
}

.singleSpaceContainer {
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 15px;
  width: 60%;
  padding: 1em;
  height: 95%;
  margin: 1em;
  justify-content: left;
  background: cadetblue;
}

.searchResultsGrid {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px;
  border-top: 1px solid #f2f2f2;
}

.searchTitle {
  display: flex;
  align-items: center;
}

.searchTitle h1 {
  margin-right: 10px;
}

.searchInfoModal {
  color: deepskyblue;
  display: block;
  position: relative;
  height: 50%;
  border-radius: 25px;
  /* opacity: 0.5; */
  z-index: 90;
}

.searchInfoModal::before {
  background: #f2f2f2;
  position: absolute;
  width: 200px;
  content: 'Only spaces with availability on the date chosen that also fit your filters will be displayed below';
  opacity: 0;
  left: -400%;
  top: 150%;
  padding: 5px;
  border-radius: 15px;
  transition: opacity 0.3s;
  z-index: 90;
}

.searchInfoModal:hover::before {
  opacity: 1;
  z-index: 90;
}

.searchResult {
  color: black;
  width: 330px;
  border-radius: 15px;
  padding: 1em;
  height: 100%;
  margin-left: 1em;
}


.singleSpace {
  width: 300px;
  display: flex;
  flex-direction: column;

}

.searchResultText {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: 40px;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.searchResultText p {
  font-size: 12px;
  margin: 0 0 0 5px;
}

.searchImage {
  width: 280px;
  /* height: 175px; */
}

.reservationContainer {
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 15px;
  width: 50%;
  padding: 1em;
  height: 100%;
  margin: 1em 0 0 0;
  background: cadetblue;
}

.reserveButton {
  margin-top: 15px;
  width: 150px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

@media only screen and (max-width: 700px) {
  .hostSpaces {
    display: flex;
    flex-direction: column;
  }

  .hostActionButtons {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
  }

  .hostActionButtons button {
    width: 100%;
    height: 40px;
  }

  .spaceContainer {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
    width: 90%;
    padding: 1em;
    height: 90%;
    margin: 1em;
    justify-content: left;
    background: cadetblue;
  }

  .singleSpaceContainer {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
    width: 90%;
    padding: 1em;
    height: 90%;
    margin: 1em;
    justify-content: left;
    background: cadetblue;
  }

  .reservationContainer {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
    width: 90%;
    padding: 1em;
    height: 100%;
    margin: 1em 0 0 0;
    background: cadetblue;
  }

  .searchResultsGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchInfoModal::before {
    left: -375%;
    top: 150%;
  }

}

@media only screen and (max-width: 500px) {
  .hostActionButtons {
    width: 60%;
    margin: 0;
  }

  .singleSpace {
    width: 250px
  }

  .singleSpaceImages {
    width: 250px;

  }

  .singleSpaceContainer {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
    width: 90%;
    padding: 1em;
    height: 90%;
    margin: 1em;
    justify-content: left;
    background: cadetblue;
  }

}

@media only screen and (max-width: 400px) {
  .reservationContainer {
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
    width: 100%;
    padding: 1em;
    height: 100%;
    margin: 1em 0 0 0;
    background: cadetblue;
  }
}

/*! ================= RESERVATIONS/HOST EDITING CSS ==================  */
.checkoutHeader {
  margin: 1em 0 0 1em;
}

.message_box {
  border: 2px solid #35BFDE;
  width: max-content;
  padding: 2em;
  margin: 2em auto;
}

.editSpaceButtons {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-content: left;
  padding-left: 10px;
  padding-bottom: 1em;
}

.editSpaceButtons button {
  margin-bottom: 10px;
  width: 130px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

/*? products list is the initial checkout page CSS */
.products_list {
  border: 1px solid black;
  padding: 1em;
  width: 500px;
  margin: 2em 0 0 2em;
}

.checkoutFooter {
  margin-left: 2em;
}

.checkout_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hostReservations {
  margin: 1em;
}

.eventReservationsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reservationModals {
  width: max-content;
}

.reservationModals button {
  margin-bottom: 10px;
  width: 130px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.Modal {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 25px;
  position: absolute;
  top: 150px;
  left: 200px;
  right: 600px;
  bottom: 250px;
  background-color: deepskyblue;
  color: white;
  justify-content: space-evenly;
  z-index: 2;
}

.userModal {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 25px;
  position: absolute;
  top: 15%;
  left: 50%;
  right: 10%;
  bottom: 30%;
  background-color: deepskyblue;
  color: white;
  justify-content: space-evenly;
  z-index: 2;
}

.userModal button {
  margin-bottom: 10px;
  width: 130px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 9;
}


@media only screen and (max-width: 1000px) {

  .Modal {
    top: 25%;
    left: 40%;
    right: 20%;
    bottom: 40%;
  }

  .userModal {
    top: 15%;
    left: 45%;
    right: 5%;
    bottom: 30%;
  }

}

@media only screen and (max-width: 700px) {

  .checkout_container {
    display: flex;
    flex-direction: column;
  }

  .products_list {
    border: 1px solid black;
    padding: 1em;
    width: 90%;
    margin: 1em 0 0 0;
  }

  .checkoutFooter {
    margin: 2em 0 0 0;
  }

  .hostReservations {
    margin: 10px;
  }

  .eventReservationsGrid {
    display: flex;
    flex-direction: column;

  }

  .Modal {
    top: 30%;
    left: 15%;
    right: 10%;
    bottom: 15%;
  }

  .userModal {
    top: 30%;
    left: 15%;
    right: 10%;
    bottom: 15%;
  }

}

@media only screen and (max-width: 500px) {
  .Modal {
    top: 30%;
    left: 10%;
    right: 5%;
    bottom: 15%;
  }

  .userModal {
    top: 30%;
    left: 10%;
    right: 5%;
    bottom: 15%;
  }
}

@media only screen and (max-width: 400px) {
  .Modal {
    top: 30%;
    left: 2%;
    right: 2%;
    bottom: 40%;
  }

  .userModal {
    top: 30%;
    left: 5%;
    right: 5%;
    bottom: 20%;
  }
}


/*! ================= USER PORTAL CSS ==================  */

.userPortalContainer {
  width: 100%;
  display: block;
  padding: 1em;
}

.userInfo {
  background: cadetblue;
  display: flex;
  flex-flow: column;
  align-items: left;
  width: 40%;
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 10px;
}

.userEditInfoButton {
  margin-top: 1em;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

.userPortalReservationSection {
  margin-top: 2em;
}

.userReservations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  padding: 1em 2em;
  border-radius: 10px;
  background: cadetblue;
}


@media only screen and (max-width: 900px) {
  .userReservations {
    grid-template-columns: 1fr;
    width: 40%;
    align-items: center;

  }


}

@media only screen and (max-width: 700px) {
  .userInfo {
    width: 60%;
  }

  .userReservations {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .userInfo {
    width: 95%;
  }

  .userReservations {
    width: 95%;
  }
}


/*! =============== USER-ACCOUNT INFO PAGE CSS ========== */
.userAcctInfo {
  display: flex;
  flex-flow: column;
  padding-left: 2em;
  width: 100%;
}

.userAcctPass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.userAcctPass label {
  margin: 0;
}

.acctInfoSubmit button {
  margin-top: 1em;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

#editAcctTitle {
  padding-top: 1em;
}

.editAcctInfo {
  background: cadetblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 400px;
  margin-top: 2em;
  padding: 1em;
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {

  .editAcctInfo {
    width: 90%;
    align-items: center;
  }

}

/*! ====================== ADMIN PORTAL CSS  */
.adminportal {
  padding: 2em 0 0 1em;
}

.divider {
  border-bottom: 1px solid teal;
  width: 50%;
  margin-bottom: 1em;
}

.adminHosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  align-content: center;
  justify-content: space-evenly;
  background: cadetblue;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  width: 90%;
}

.userInfoBoxes {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.adminUsers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  align-content: center;
  justify-content: space-evenly;
  background: cadetblue;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  width: 90%;
}

#adminUserButtons {
  width: 150px;
  margin-top: 5px;
  color: white;
  background: teal;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 2px -7px 11px rgba(49, 49, 49, 0.40);
}

@media only screen and (max-width: 1040px) {
  .adminHosts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    align-content: center;
    justify-content: space-evenly;
    background: cadetblue;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    width: 90%;
  }

  .userInfoBoxes {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .adminUsers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    align-content: center;
    justify-content: space-evenly;
    background: cadetblue;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .adminHosts {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .userInfoBoxes {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .adminUsers {
    grid-template-columns: 1fr;
    width: 90%;
  }
}


/*!! IMAGE SLIDESHOW CSS  */

.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: 250px;
}

.prev,
.next {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}


/*! ============= CSS FOR THE SINGLE FILE UPLOADER  */
.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  border: 1px solid #92b0b3;
}

.files {
  position: relative
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.uploadBar {
  width: 70%;
  margin: auto;
}


.bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image_container {
  width: 13%;
  height: 80%;
  margin-left: 1.83%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.i_c_ex {
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}

.delete_x {
  color: red;
  font-weight: 900;
  position: absolute;
  align-self: flex-end;
}

.buttons_container {
  width: 90%;
  display: flex;
  margin-top: 10%;
  flex-direction: row;
}

.yes_button {
  width: 50%;
  background-color: green;
  color: white;
}

.no_button {
  width: 50%;
  background-color: red;
  color: white;
}

.message_text {
  font-size: 1em;
}


.completeButton {
  display: block;
  width: max-content;
  margin: auto;
  padding: 1em;
}